{
	"env": {
		"node": true
	},
	"extends": ["plugin:prettier/recommended"],
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"ecmaVersion": 9,
		"sourceType": "module",
		"allowImportExportEverywhere": true
	},
	"rules": {
		"indent": ["error", "tab"],
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		]
	}
}
